:root {
  --primary-color: #f6f5f2;
  --text-color: #070f2b;
  --header-color: #092635;
  --primary-hover-text: #384eca;
  --brand-font: "WWF Regular", sans-serif;
  --default-font: "Roboto", sans-serif;
}
[theme="dark"] {
  --primary-color: #393646;
  --text-color: #f4eee0;
  --header-color: #092635;
  --primary-hover-text: ;
  --brand-font: ;
  --header-color: ;
}

@font-face {
  font-family: "WWF Regular";
  src: url(./font/WWF-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto-Regular.ttf);
}

* {
  font-family: var(--default-font);
  margin: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media screen and (min-width: 600px) {
  .header-container {
    width: 100%;
    height: 15%;
    background-color: var(--header-color);
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
  }

  .header-lang-wrapper {
    display: flex;
    column-gap: 1em;
    align-items: center;
  }

  .header-lang-wrapper > p:hover {
    display: flex;
    background-color: var(--primary-color);
    color: var(--header-color);
    width: auto;
    height: 100%;
    align-items: center;
    cursor: pointer;
  }

  .header-search-bar {
    width: 10em;
    display: grid;
    grid-template-columns: 1.5em 100%;
    grid-template-rows: 2em;
    margin-top: 0.3em;
  }
  .search-svg {
    width: 1.75em;
    height: 1.75em;
    background-color: white;
    border: none;
    border-radius: 3px;
  }


  input[type="text"] {
    border: none;
    height: 1.95em;
    border-radius: 3px;
    width: 15em;
  }
  input[type="text"]:focus {
    outline: none;
  }
  .menu-svg {
    width: 0.625em;
    height: 0.625em;
    margin-left: 0.3em;
    cursor: pointer;
  }

  .nav-symbol-menu-wrapper {
    display: none;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  a:visited {
    color: var(--text-color);
  }

  a:hover {
    color: var(--primary-hover-text);
  }

  .sticky-container {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    height: 5%;
    margin-bottom: 2em;
    width: 100%;
    border-bottom: 1.75px black solid;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
  .nav-menu-wrapper,
  .nav-logo-wrapper {
    display: flex;
    column-gap: 1em;
    align-items: center;
    margin: 0 0.8em;
  }

  .nav-logo-wrapper > h1,
  h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: var(--brand-font);
  }
  .nav-menu-items > a {
    font-size: 1.5rem;
    font-family: var(--brand-font);
    text-transform: uppercase;
  }
  .main-logo {
    width: 4em;
    height: 4em;
    padding: 0 0.8em;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1.5em;
    margin-top: 2em;
    padding-left: 1em;
  }
  .flex-text > img {
    width: 10%;
    height: 10%;
    float: left;
    margin-right: 2em;
  }

  .flex-text > p {
    text-align: justify;
    margin-right: 1em;
  }

  .grid-container {
    display: grid;
    width: 100%;
    height: 40em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 0.5em;
    margin-bottom: 3.5em;
  }
  .grid-item {
    border: 1px solid black;
    width: 90%;
    height: 100%;
  }

  #grid-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
  }

  #grid-2 {
    grid-column: 3;
    grid-row: 1 / 5;
  }
  #grid-3 {
    grid-column: 4;
    grid-row: 1;
  }
  #grid-4 {
    grid-row: 2/4;
    grid-column: 4/5;
  }

  #grid-5 {
    grid-row: 4/5;
    grid-column: 4/5;
  }
}
